*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-right: 20px;
  margin-top: 20px;
}

/* .contact_sec {
  display: flex;
  justify-content: space-around;
  padding: 1rem 20%;
  background-color: #383838;
} */

.profile_img {
  max-height: 80px;
  max-width: 80px;
}

.nav1 {
  display: flex;
  justify-content: center;
  box-shadow: 3px 5px 6px grey;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
  opacity: 0.9;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-self: center;
  align-items: center;
  padding: 10px 10px;
}
.nav_item {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 540;
  padding: 10px 20px;
}

.profile_user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 300px;
  gap: 2rem;
}
.profile_user img {
  border-radius: 50%;
  padding-left: 0.2rem;
}
.profile_user button {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.2rem 0.3rem;
  background-color: white;
  border: none;
  font-family: "Heebo", sans-serif;
  font-family: "Pacifico", cursive;
}

.header1 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.courses_item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 2px 3px grey;
}
.courses_item img {
  padding: 0px 20px;
}
.myjob {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2ef5ff95;
  opacity: 1;
  background-image: url(assets/bg.jpeg);
  background-size: 100% 100%;
  background-blend-mode: multiply;
  padding: 10px 100px;
  padding: 100px 0;
}

.myjobs_header {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0;
}
.myjobs_text {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 10px;
}

.about_me_info h2 {
  font-size: 3rem;
  padding-bottom: 20px;
  font-weight: 600;
}
.about_me_info p {
  font-size: 1.3rem;
  padding: 10px 0px;
}
.about_me_info {
  max-width: 800px;
}
.section1 img {
  max-width: 250px;
  max-height: 250px;
}
.section2 {
  background-color: #2f2e2e;
  /* max-width: 100%; */
}
.section2 h2 {
  color: white;
  font-size: 2.5rem;
  padding-top: 15px;
}
.section2 p {
  color: white;
  font-size: 0.9rem;
  padding: 20px 0px;
}
.bio_download {
  max-width: 500px;
  justify-content: center;
  padding-bottom: 20px;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: #f3f3f3;
  width: 100%;
}

.top_jobs_title {
  font-size: 2rem;
  padding: 30px;
}

.projectNUM img {
  width: 100%;
  border-radius: 20px;
}
.card_title {
  font-family: "Heebo", sans-serif;
  font-family: "Pacifico", cursive;
}
.projectNUM {
  max-width: 400px;
  height: 500px;
  position: relative;
  display: flex;
  border-radius: 20px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 3px grey;
}
.project_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.project_body h3 {
  font-size: 2rem;
  font-weight: 200;
  padding: 30px;
}

.project_body p {
  font-size: 1rem;
  padding-bottom: 30px;
  text-align: center;
}

.project_body a {
  text-decoration: none;
  background-color: #1ae0ec;
  font-size: 1rem;
  border: 2px solid black;
  font-weight: 200;
  padding: 15px 30px;
  border-radius: 20px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 50px;
}

.form_container {
  background-color: #8ef5fa88;
  opacity: 1;
  background-image: url(assets/bg.jpeg);
  background-size: 100% 100%;
  background-blend-mode: multiply;
  padding: 10px 100px;
}

.form_container h2 {
  color: black;
  font-size: 2rem;
  padding: 10px 0px;
}
.form_container p {
  color: black;
  font-size: 1rem;
  padding: 5px 0px;
}
label {
  display: block;
}
input {
  border: none;
  box-shadow: 2px 2px 3px grey;
  /* padding: 6px 110px; */
}
.button_sec {
  padding: 7px 15px;
  font-size: 0.9rem;
  background-color: #00a9cf;
  font-weight: 700;
  border: none;
  margin-bottom: 30px;
}
.textarea_sec {
  padding-top: 10px;
  padding-bottom: 10px;
}
#userMessage {
  /* padding: 15px 110px; */
  border: none;
  box-shadow: 2px 2px 3px grey;
}

.section1 {
  display: flex;
  padding: 70px 100px;
  gap: 20px;
  position: relative;
  box-shadow: 2px 2px 3px grey;
  justify-content: center;
}
.contact_sec {
  display: flex;
  width: 100%;
  /* max-width: 1600px; */
  justify-content: space-evenly;
  align-items: end;
  padding: 5px 5px;
  row-gap: 5px;
  column-gap: 15px;
  flex-wrap: wrap;
  background-color: #383838;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 10px;
}
.box img {
  max-width: 40px;
  max-height: 40px;
}

.rights_sec {
  background-color: #2f2e2e;
  display: flex;
  justify-content: space-between;
  color: white;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
  .section1 {
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
  }
  .section2_container {
    display: flex;
    flex-direction: column-reverse;
    /* border: 2px solid red; */

    /* align-content: space-around; */
    padding: 0px 20px;
  }
  .imagepdf img {
    transform: rotate(330deg);
    max-width: 30%;
    max-height: 30%;
  }
  .imagepdf {
    padding: 20px;

    display: flex;
    justify-content: center;
  }
  .section2 button {
    color: rgb(0, 0, 0);
    background-color: #1ae0ec;
    border-radius: 30px;
    font-size: 0.7rem;
    font-weight: 400;
    /* max-width: 30%; */
    padding: 10px 20px;
    text-align: center;
  }
  .bio_download {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .top_jobs_title {
    font-size: 1.4rem;
    padding: 30px;
  }
  input {
    padding: 6px 30px;
  }
  #userMessage {
    padding: 15px 30px;
  }
  .form_container {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 800px) and (min-width: 501px) {
  .section1 {
    display: flex;
    flex-direction: column;
  }
  .section2_container {
    display: flex;
    justify-content: space-around;

    padding: 0px 20px;
  }
  .imagepdf {
    padding-left: 50px;
    padding-right: 100px;
    position: relative;
  }
  .imagepdf img {
    width: 80px;
    height: 100px;
    position: absolute;
    top: 25%;
    transform: rotate(330deg);
    left: 10%;
  }
  .section2 button {
    color: rgb(0, 0, 0);
    background-color: #1ae0ec;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    /* max-width: 30%; */
    padding: 10px 30px;
    text-align: center;
  }
  input {
    padding: 6px 90px;
  }
  #userMessage {
    padding: 15px 90px;
  }
}

@media screen and (min-width: 801px) {
  .section1 {
    display: flex;
    flex-direction: row;
  }
  .section2_container {
    display: flex;
    justify-content: space-around;

    padding: 0px 100px;
  }
  .imagepdf {
    padding-left: 100px;
    position: relative;
  }
  .imagepdf img {
    width: 80px;
    height: 100px;
    position: absolute;
    top: 25%;
    transform: rotate(330deg);
    left: 10%;
  }
  .section2 button {
    color: rgb(0, 0, 0);
    background-color: #1ae0ec;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    /* max-width: 30%; */
    padding: 10px 30px;
    text-align: center;
  }
  input {
    padding: 6px 90px;
  }
  #userMessage {
    padding: 15px 90px;
  }
}
